<f:section name="content">
	<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
		<tr class="t3-row-header">
			<td><f:translate id="header.typo3ListTitle" /></td>
			<td><f:translate id="header.sharepointListTitle" /></td>
			<td> </td>
		</tr>

		<f:for each="{mappingLists}" as="list">
			<tr class="db_list_normal">
				<td>{list.typo3ListTitle}</td>
				<td><a title="{list.sharepointListIdentifier}">{list.sharepointListTitle}</a></td>
				<td>
					<f:be.buttons.icon uri="{f:uri.action(action:'edit', arguments:'{list : list}')}" icon="actions-document-open" title="{f:translate(key:'description.edit.mapping')}" />
					<f:be.buttons.icon uri="{f:uri.action(action:'deleteList', arguments:'{list : list}')}" icon="actions-edit-delete" title="{f:translate(key:'description.delete.mapping')}" />
					<f:render partial="DocHeader" section="sync" arguments="{list: list}" />
				</td>
			</tr>
		</f:for>
		<tr>
			<td colspan="3">
				<f:count subject="{mappingLists}" /> <f:translate id="mappings" />
			</td>
		</tr>
	</table>
</f:section>