<f:layout name="Default" />

<f:section name="docHeaderRow1">

</f:section>

<f:section name="content">
	<f:flashMessages />

	<h3><f:translate id="list.header" /></h3>

	<f:if condition="<f:count subject='{listMappings}' /> > 20">
		<f:then>
			<f:be.widget.paginate objects="{listMappings}" as="paginatedListMappings" configuration="{itemsPerPage: 20, insertAbove: 1, insertBelow: 1}">
				<f:render partial="ListMapping/ListMappingsTable" section="content" arguments="{listMappings: paginatedListMappings}" />
			</f:be.widget.paginate>
		</f:then>
		<f:else>
			<f:render partial="ListMapping/ListMappingsTable" section="content" arguments="{listMappings: listMappings}" />
		</f:else>
	</f:if>

	<br/>

	<f:be.buttons.icon uri="{f:uri.action(action:'newStep1')}" icon="actions-document-new" title="New ListMapping" />
	<f:link.action action="newStep1"><f:translate id="new.listMapping" /></f:link.action><br/>


</f:section>
