<f:layout name="Default" />

<f:section name="content">

	<f:link.action action="newStep1">New ListMapping</f:link.action> <br/>

	<br/>
	<strong>Listing for ListMapping</strong>

	<f:flashMessages />

	<table border="1" class="tx_sharepointconnector" >
		<tr>
			<th><f:translate key="tx_sharepointconnector_domain_model_listmapping.typo3_list_title" /></th>
			<th><f:translate key="tx_sharepointconnector_domain_model_listmapping.sharepoint_list_identifier" /></th>
			<th> </th>
			<th> </th>
		</tr>

		<f:for each="{listMappings}" as="listMapping">
			<tr>
				<td><f:link.action action="show" arguments="{listMapping : listMapping}"> {listMapping.typo3ListTitle}</f:link.action></td>
				<td><f:link.action action="show" arguments="{listMapping : listMapping}"> {listMapping.sharepointListIdentifier}</f:link.action></td>
				<td><f:link.action action="edit" arguments="{listMapping : listMapping}">Edit</f:link.action></td>
				<td><f:link.action action="delete" arguments="{listMapping : listMapping}">Delete</f:link.action></td>
			</tr>
		</f:for>
	</table>

</f:section>