<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
<h1>Listing for ListMap</h1>

<f:flashMessages />

<table  class="tx_sharepointconnector" >
	<tr>
		<th><f:translate key="tx_sharepointconnector_domain_model_listmap.title" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{listMaps}" as="listMap">
		<tr>
			<td><f:link.action action="show" arguments="{listMap : listMap}"> {listMap.title}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{listMap : listMap}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{listMap : listMap}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New ListMap</f:link.action>
</f:section>