<f:layout name="Default" />

<f:section name="docHeaderRow1">
</f:section>

<f:section name="content">
	<f:flashMessages />
	<f:render partial="FormErrors" />

	<f:form action="newStep2" name="mappingListItem" object="{mappingListItem}" >

		<h3><f:translate id="new.step1.header" /></h3>
		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_listitem.sharepoint_list"/></td>
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_listitem.typo3_list_title"/></td>
			</tr>
			<tr class="db_list_normal">
				<td>
					<f:form.select property="sharepointListIdentifier" name="sharepointListIdentifier" options="{listItems}" optionValueField="id" optionLabelField="title" />
				</td>
				<td><f:form.textfield property="typo3ListTitle"/></td>
			</tr>
		</table>

		<f:form.submit value="{f:translate(key:'button.next')}" />
	</f:form>
</f:section>