<f:layout name="Default" />

<f:section name="docHeaderRow1">
</f:section>

<f:section name="content">
	<f:flashMessages />
	<f:render partial="FormErrors" />

	<f:form action="create" name="list" object="{list}" >

		<h3><f:translate id="new.step2.header" /></h3>
		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_lists.sharepoint_list"/></td>
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_lists.typo3_list_title"/></td>
			</tr>
			<tr class="db_list_normal">
				<td>
					{list.sharepointListTitle}
					<f:form.hidden property="sharepointListIdentifier" value="{list.sharepointListIdentifier}" />
					<f:form.hidden property="sharepointListTitle" value="{list.sharepointListTitle}" />
				</td>
				<td>
					{list.typo3ListTitle}
					<f:form.hidden property="typo3ListTitle" value="{list.typo3ListTitle}" />
				</td>
			</tr>
		</table>

		<br/>

		<h3><f:translate id="attributes.header" /></h3>
		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td><f:form.checkbox id="activateAll" name="" value="0" /></td>
				<td><f:translate id="column.header.sharepointDisplayName" /></td>
				<td><f:translate id="column.header.sharepointFieldType" /></td>
				<td><f:translate id="column.header.typo3FieldName" /></td>
			</tr>
			<f:for each="{list.attributes}" as="attribute" iteration="attributeIterator">
				<tr class="db_list_normal">
					<td><f:form.checkbox value="1" name="attributeData[{attributeIterator.index}][activated]" />  </td>
					<td>
						<a title="{attribute.sharepointFieldName}">{attribute.sharepointDisplayName}</a>
						<f:form.hidden name="attributeData[{attributeIterator.index}][sharepointFieldName]" value="{attribute.sharepointFieldName}" />
						<f:form.hidden name="attributeData[{attributeIterator.index}][sharepointDisplayName]" value="{attribute.sharepointDisplayName}" />
					</td>
					<td>
						{attribute.type}
						<f:form.hidden name="attributeData[{attributeIterator.index}][type]" value="{attribute.type}" />
						<f:form.hidden name="attributeData[{attributeIterator.index}][required]" value="{attribute.required}" />
						<f:form.hidden name="attributeData[{attributeIterator.index}][lookuplist]" value="{attribute.lookuplist}" />
						<f:form.hidden name="attributeData[{attributeIterator.index}][sourceid]" value="{attribute.sourceid}" />
					</td>
					<td><f:form.textfield name="attributeData[{attributeIterator.index}][typo3FieldName]" value="{attribute.sharepointDisplayName}" /></td>
				</tr>
			</f:for>
		</table>

		<br/>

		<f:form.submit value="{f:translate(key:'button.save')}" />
	</f:form>
</f:section>