<f:layout name="Default" />

<f:section name="docHeaderRow1">
</f:section>

<f:section name="content">
	<f:flashMessages />
	<f:render partial="FormErrors" />

	<f:form action="create" name="mappingListItem" object="{mappingListItem}" >

		<h3><f:translate id="new.step2.header" /></h3>
		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_listitem.sharepoint_list"/></td>
				<td><f:translate key="tx_sharepointconnector_domain_model_mapping_listitem.typo3_list_title"/></td>
			</tr>
			<tr class="db_list_normal">
				<td>
					{mappingListItem.sharepointListTitle}
					<f:form.hidden property="sharepointListIdentifier" value="{mappingListItem.sharepointListIdentifier}" />
					<f:form.hidden property="sharepointListTitle" value="{mappingListItem.sharepointListTitle}" />
				</td>
				<td>
					{mappingListItem.typo3ListTitle}
					<f:form.hidden property="typo3ListTitle" value="{mappingListItem.typo3ListTitle}" />
				</td>
			</tr>
		</table>

		<br/>

		<h3><f:translate id="attributes.header" /></h3>
		<table border="0" cellpadding="0" cellspacing="0" class="typo3-dblist">
			<tr class="t3-row-header">
				<td><f:form.checkbox id="activateAll" name="" value="0" /></td>
				<td><f:translate id="column.header.sharepointFieldName" /></td>
				<td><f:translate id="column.header.sharepointFieldType" /></td>
				<td><f:translate id="column.header.typo3FieldName" /></td>
			</tr>
			<f:for each="{mappingListItem.attributes}" as="attribute" iteration="attributeIterator">
				<tr class="db_list_normal">
					<td><f:form.checkbox value="1" name="attributeData[{attributeIterator.index}][activated]" />  </td>
					<td>{attribute.sharepointFieldName}<f:form.hidden name="attributeData[{attributeIterator.index}][sharepointFieldName]" value="{attribute.sharepointFieldName}" /></td>
					<td>{attribute.attributeType}<f:form.hidden name="attributeData[{attributeIterator.index}][attributeType]" value="{attribute.attributeType}" /></td>
					<td><f:form.textfield name="attributeData[{attributeIterator.index}][typo3FieldName]" value="{attribute.sharepointFieldName}" /></td>
				</tr>
			</f:for>
		</table>

		<br/>

		<f:form.submit value="{f:translate(key:'button.save')}" />
	</f:form>
</f:section>