<label for="sharepointListIdentifier">
	<f:translate key="tx_sharepointconnector_domain_model_listmapping.sharepoint_list_identifier" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sharepointListIdentifier" /><br />
<label for="sharepointListTitle">
	<f:translate key="tx_sharepointconnector_domain_model_listmapping.sharepoint_list_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sharepointListTitle" /><br />
<label for="typo3ListTitle">
	<f:translate key="tx_sharepointconnector_domain_model_listmapping.typo3_list_title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="typo3ListTitle" /><br />