<label for="defaultViewUrl">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.default_view_url" />
</label><br />
	<f:form.textfield property="defaultViewUrl" /><br />
<label for="id">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="id" /><br />
<label for="title">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="description">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.description" />
</label><br />
	<f:form.textfield property="description" /><br />
<label for="name">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="featureId">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.feature_id" />
</label><br />
	<f:form.textfield property="featureId" /><br />
<label for="baseType">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.base_type" />
</label><br />
	<f:form.textfield property="baseType" /><br />
<label for="webId">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.web_id" />
</label><br />
	<f:form.textfield property="webId" /><br />
<label for="scopeId">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.scope_id" />
</label><br />
	<f:form.textfield property="scopeId" /><br />
<label for="allowDeletion">
	<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.allow_deletion" />
</label><br />
	<f:form.checkbox property="allowDeletion" value="1" /><br />