<table class="tx-sharepoint-connector" >
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.default_view_url" />
		</td>
		<td>
			{sharepointList.defaultViewUrl}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.id" />
		</td>
		<td>
			{sharepointList.id}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.title" />
		</td>
		<td>
			{sharepointList.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.description" />
		</td>
		<td>
			{sharepointList.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.name" />
		</td>
		<td>
			{sharepointList.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.feature_id" />
		</td>
		<td>
			{sharepointList.featureId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.base_type" />
		</td>
		<td>
			{sharepointList.baseType}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.web_id" />
		</td>
		<td>
			{sharepointList.webId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.scope_id" />
		</td>
		<td>
			{sharepointList.scopeId}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_sharepointconnector_domain_model_sharepointlist.allow_deletion" />
		</td>
		<td>
			{sharepointList.allowDeletion}
		</td>
	</tr>
</table>